<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659149019308-4mupmrll2n47tutii9emcco4mt6e3oah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659149019308-4mupmrll2n47tutii9emcco4mt6e3oah</string>
	<key>API_KEY</key>
	<string>AIzaSyBrcjODNN2UySUOeaU_KZR3y9m5dv34-NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>659149019308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wes.chatLb</string>
	<key>PROJECT_ID</key>
	<string>chatlp-a74d5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatlp-a74d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659149019308:ios:13c6f36bd8be6f710f6709</string>
</dict>
</plist>